.header,
.select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}




.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.box {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    max-width: 800px; 
}
.box > div {
    border: 1px solid black;
}
.box > div#box1 {
    border-top-color: transparent;
    border-left-color: transparent;
}
.box > div#box2 {
    border-top-color: transparent;
}
.box > div#box3 {
    border-top-color: transparent;
    border-right-color: transparent;
}
.box > div#box4 {
    border-left-color: transparent;
}
.box > div#box6 {
    border-right-color: transparent;
}
.box > div#box7 {
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.box > div#box8 {
    border-bottom-color: transparent;
}
.box > div#box9 {
    border-bottom-color: transparent;
    border-right-color: transparent;
}




.footer {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

