.header,
.select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.box {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: blue;
    height: 500px;
    max-width: 800px;
}
.footer {
    display: flex;
    justify-content: center;
}

